.item {
  width: 200px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.itemCard {
  min-width: 275;
}

.plus {
  color: green;
}

.average {
  color: yellow;
}
