.container {
  padding: 1.0875rem;
  padding-top: 0;
  min-width: 800px;
}

.rowBoxGrey {
  background-color: rgba(0,0,0,.1);
}

.rowBox {
  padding: 2vh 0;
}

.instructions {
  width: 100%;
  text-align: center;
}

.chevron {
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(255,255,255,0));
  width: 100%;
  text-align: center;
}

.instructionsText {
  display: inline-block;
  text-align: center;
  width: 80%;
  height: 100%;
  margin-left: 25%;
}

.link {
  text-decoration: none;
}

