@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');

.hero {
  background-color: #e5e5e5;
  width: 100vw;
  height: 85vh;
  padding: 1.45rem 1.0875rem;
  background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3dhvOPRLHvp4rzYrVdz959iBvBkYGYC4HZqBfrRme2C9L4vYxYG8U1oWJBwL3NTsWYx5HYf8LW4fg80xXXtL71k1U-Tu4JFQihD64fvurp4wXM96v-2rMt4S4rc7VE3uXD6hd5Fr4TS3Qa7z_yD9vGH=w1716-h958-no?authuser=0');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.textContainer {
  height: 80%;
  padding: 3em;
  background-color: rgba(196,201,185,0.7);
}


.introTitle {
  padding: 3vh;
  font-size: 80px;
  font-weight: 800;
  font-family: 'Karla';
  text-align: center;
  margin-bottom: -45px;
}

.introText {
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 26px;
  font-family: 'Rubik';
  line-height: 1.6;
}


@media screen and (max-width: 960px) {
  .introText {
    font-size: 22px;
  }
  .introTitle {
    margin-bottom: -35px;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    height: 100vh;
  }
  .introText {
    font-size: 22px;
  }
  .introTitle {
    font-size: 66px;
    margin-bottom: -35px;
  }
}