.modalContentBox {
  width: 100%;
  height: 100%;
  background-color: white;
}


.cartList {
  width: 20vw;
  height: 80%;
  overflow: scroll;
  padding: 10px;
}

.cartButtonBox {
  text-align: center;
}

.cartButton {
  width: 50%;
  text-align: center;
  display: inline-block;
}

.cartHeader {
  padding-top: 3em;
  border-bottom: 1px ridge black;
}