.modal {
  outline: 0;
  position: absolute;
  width: 60vw;
  height: 90vh;
  top: 5%;
  left: 20%;
  margin: auto;
}

.modalBox {
  height: 100%;
}

.DataSectionBox {
  padding: 3em;
  padding-top: 0;
}

.image {
  max-width: 50%;
}

.infoBox {
  padding: 2em;
}