.modal {
  outline: 0;
  position: absolute;
  width: 60vw;
  top: 5%;
  left: 20%;
  margin: auto;
  overflow: hidden;
}

.modalBox {
  height: 100%;
}

.DataSectionBox {
  padding: 3em;
  padding-top: 0;
}

.image {
  height: 350px;
}

.infoBox {
  padding: 2em;
  text-align: center;
}



@media screen and (max-width: 1280px) {
  .modal {
    width: 90vw;
    height: 80vh;
    top: 2%;
    left: 5%;
    overflow: scroll;
  }
}