.modal {
  outline: 0;
  position: absolute;
  width: 60vw;
  max-height: 90vh;
  top: 5vh;
  left: 20%;
  margin: auto;
  overflow: scroll;
}

.modalBox {
  height: 100%;
}

.DataSectionBox {
  padding: 3em;
  padding-top: 0;
}

.image {
  max-height: 350px;
  height: 80%;
}

.infoBox {
  padding: 2em;
  text-align: center;
}



@media screen and (max-width: 1280px) {
  .modal {
    width: 90vw;
    height: 80vh;
    top: 2%;
    left: 5%;
    overflow: scroll;
  }
}