.fullPage {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}


.layoutHeaderOn {
    box-shadow: -2px 3px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 2px rgba(0,0,0,0.75), 0 -10px white inset, -10px 0 white inset, 10px 0 white inset;
    position: fixed;
    z-index: 10000;
    width: 100%;
    transition: top 0.5s;
}

.layoutFooter {
    margin: 0 3em;
}

