.button {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  background-color: lavender;
  height: 10vh;
}

.icon {
  color: green;
}

.ecoLogo {
  width: 50%;
}

.link {
  text-decoration: none;
}