.button {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  background-color: lavender;
  height: 10vh;
  min-width: 1000px;
}

.icon {
  color: green;
  font-size: 100px;
}

.ecoLogo {
  width: 50%;
}

.link {
  text-decoration: none;
}



@media screen and (max-width: 1280px) {
  .ecoLogo {
    width: 70%;
  }
  
}

@media screen and (max-width: 960px) {
  .ecoLogo {
    width: 80%;
  }  
}