.receiptSectionBox {
  width: 100vw;
}

.box {
  display: flex;
}

.receiptBox {
  outline: 1px solid grey;
  background-color: #f5f5f5;
  padding: 3em;
  max-width: 700px;
  margin: auto;
}

.impactResultBox {
  padding-top: 3em;
}
